doctype html
html(lang="en")
    head
        title 嗨
    body
        h1 cute girl
        #container.col
        p 喜
        p 欢
        p 你
        ul
            li LOVE YOU .
        img(src="https://dss1.bdstatic.com/70cFvXSh_Q1YnxGkpoWK1HF6hhy/it/u=2903795984,3730028115&fm=26&gp=0.jpg")